<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
	<script src="https://kit.fontawesome.com/733718af8a.js" crossorigin="anonymous"></script>
<style>
  .login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}
.text_title{
        color: white;
        background: rgb(55,106,167);
background: radial-gradient(circle, rgba(55,106,167,1) 16%, rgba(112,29,99,0.9920343137254902) 96%);
}
</style>
    <title>Document</title>
</head>
<body style="background-color: azure;">
    <div class="container-fluid text_title">
        <div class="row">
          <div class="col-md-12">
              <h1 class="text-center">Profile</h1>
              
          </div>
        </div>
    </div> 
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <!-- <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">Personal Details</li>
                    </ol>
                  </nav> -->
                  
                  <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb text-center"  >
                      <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModal"><a href="#">Personal Details</a></li>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Personal Details</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <form action="/save_contactDetails/" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="form-group">
                                    <label class="text-left">Name</label>
                                    <input type="text" class="form-control" name="name"  placeholder="Your Name">
                                    
                                  </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                      
                                    </div>
                                    <div class="form-group">
                                      <label>Social media</label>
                                      <input type="text" name="linkedin_link" class="form-control" id="exampleInputEmail1"  placeholder="Social media link">
                                      
                                    </div>
                                    <div class="form-group">
                                      <label>Address</label>
                                      <textarea name="address" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <label>Phone</label>
                                      <input type="number" name="mobile" class="form-control" id="exampleInputEmail1"  placeholder="Enter your mobile number">
                                      
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleFormControlFile1">Photo</label>
                                      <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                    <button type="submit" class="btn login_btn">Submit</button>
                                </form>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </ol>
                    <ol class="breadcrumb">
                      
                        <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModa2"><a href="#">Education</a></li>
                        <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Education Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <form action="/save_education/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label class="text-left">Degree</label>
                                      <input type="text" class="form-control" name="course" >
                                      
                                    </div>
                                      <div class="form-group">
                                        <label >School/University</label>
                                        <input type="text" class="form-control" name="university">
                                        
                                      </div>
                                      <div class="form-group">
                                        <label>Grade/Score</label>
                                        <input type="text" class="form-control" name="grade">
                                        
                                      </div>
                                      <div class="form-group">
                                        <label>Passout Year</label>
                                        <input type="date" class="form-control" name="year">
                                        
                                      </div>
                                      
                                      <button type="submit" class="btn login_btn">Submit</button>
                                    </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                    </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModa3"><a href="#">Experiance</a></li>
                        <div class="modal fade" id="exampleModa3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Experiance Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <form  action="/save_experience/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <div class="row">
                                        <div class="col">
                                          <label >Job Title</label>
                                          <input type="text" class="form-control" name="job_title" placeholder="Job Title">
                                        </div>
                                        <div class="col">
                                          <label >Company Name</label>
                                          <input type="text" class="form-control" name="company_name" placeholder="Company name">
                                        </div>
                                      </div>
                                      
                                      <div class="row">
                                        <div class="col">
                                          <label >Start Date</label>
                                          <input type="date" class="form-control" name="start_date">
                                        </div>
                                        <div class="col">
                                          <label >End Date</label>
                                          <input type="date" class="form-control" name="end_date">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label>Details</label>
                                        <textarea class="form-control" name="job_details" rows="3"></textarea>
                                        
                                      </div>
                                     
                                      
                                      <button type="submit" class="btn login_btn">Submit</button>
                                    </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                    </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModa4"><a href="#">Skills</a></li> 
                        <div class="modal fade" id="exampleModa4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Skills</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <form action="/save_skill/" method="post" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label class="text-left">Skills</label>
                                      <input class="form-control form-control-lg" type="text" name="skill" placeholder="Enter your technology">
                                      
                                    </div>
                                      
                                      
                                      <button type="submit" class="btn login_btn">Submit</button>
                                    </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>

                    </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModa5"><a href="#">Objective</a></li> 
                        <div class="modal fade" id="exampleModa5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Objective </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <form action="/save_objective/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label class="text-left">Objective</label>
                                      <input type="text" class="form-control" name="title"><br>
                                      <textarea name="about" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                                    </div>
                                      
                                      
                                      <button type="submit" class="btn login_btn">Submit</button>
                                    </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModa6"><a href="#">Language</a></li> 
                        <div class="modal fade" id="exampleModa6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Language You Know</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form action="/save_langauge/" method="post" enctype="multipart/form-data" >
                                  {% csrf_token %}
                                  <div class="form-group">
                                    <label class="text-left">Language</label>
                                    <input class="form-control form-control-lg" type="text" name="language" placeholder="Enter the language you know">
                                    
                                  </div>
                                    
                                    
                                    <button type="submit" class="btn login_btn">Submit</button>
                                  </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModa7"><a href="#">Projects</a></li> 
                        <div class="modal fade" id="exampleModa7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Project Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <form action="/save_project/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label class="text-left">Title</label>
                                      <input type="text" class="form-control" name="project_name" >
                                      
                                    </div>
                                      <div class="form-group">
                                        <div class="row">
                                          <div class="col">
                                            <label >Start Date</label>
                                            <input type="date" class="form-control" name="project_start" >
                                          </div>
                                          <div class="col">
                                            <label >End Date</label>
                                            <input type="date" class="form-control" name="project_end" >
                                          </div>
                                        </div>
                                        
                                      </div>
                                      <div class="form-group">
                                        <label>Decription</label>
                                        <textarea  class="form-control" name="project_decription" id="exampleFormControlTextarea1" rows="3"></textarea>

                                      </div>
                                  
                                      
                                      <button type="submit" class="btn login_btn">Submit</button>
                                    </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" data-toggle="modal" data-target="#exampleModa8"><a href="#">Course</a></li> 
                        <div class="modal fade" id="exampleModa8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Course Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <form action="/save_course/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label class="text-left">Course Name</label>
                                      <input type="text" class="form-control"  name="Certificate_name" >
                                      
                                    </div>
                                    <div class="form-group">
                                      <label class="text-left">Course address</label>
                                      <input type="text" class="form-control"  name="cer_address" >
                                      
                                    </div>
                                    <div class="form-group">
                                    <label class="text-left">Year</label>
                                    <input type="date" class="form-control"  name="certicicate_date" >
                                    </div>  
                                      
                                
                                      
                                      <button type="submit" class="btn login_btn">Submit</button>
                                    </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </ol>
                  </nav>
                  
                 
            </div>
        </div>
    </div>
    <div class="container-fluid text_title">
      <div class="row">
        <div class="col-md-12">
            <h1 class="text-center "><a href="/allresume" class="text-light"><i class="fa-solid fa-eye"></i>View Template</a></h1>
            
        </div>
      </div>
  </div> 
</body>
</html>