<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
	<script src="https://kit.fontawesome.com/733718af8a.js" crossorigin="anonymous"></script>
    <title>Document</title> -->
</head>
<!-- <body class="bd3">
    <div class="resume">
        <div class="row">
            <div class="col-md-8">
                <h1>John Doe</h1>
                <p>Software Developer</p>
            </div>
            <div class="col-md-4 contact-info">
                <p>Email: johndoe@example.com</p>
                <p>Phone: +123 456 7890</p>
                <p>Website: www.johndoe.com</p>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">Profile</h2>
            <p>A highly motivated and skilled software developer with experience in building scalable web applications. Proficient in JavaScript, Python, and cloud technologies. Passionate about solving complex problems and continuous learning.</p>
        </div>

        <div class="section">
            <h2 class="section-title">Experience</h2>
            <div>
                <h3>Software Developer</h3>
                <p>XYZ Company | Jan 2020 - Present</p>
                <ul>
                    <li>Developed and maintained web applications using React and Node.js.</li>
                    <li>Collaborated with cross-functional teams to define and implement new features.</li>
                    <li>Improved application performance by optimizing code and database queries.</li>
                </ul>
            </div>
            <div>
                <h3>Junior Developer</h3>
                <p>ABC Corporation | Jun 2018 - Dec 2019</p>
                <ul>
                    <li>Assisted in the development of internal tools using Python and Flask.</li>
                    <li>Participated in code reviews and provided constructive feedback.</li>
                    <li>Worked closely with senior developers to learn best practices.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">Education</h2>
            <ul class="education-list">
                <li>
                    <h4>Bachelor of Science in Computer Science</h4>
                    <p>University of Somewhere, 2014 - 2018</p>
                </li>
                <li>
                    <h4>High School Diploma</h4>
                    <p>Some High School, 2010 - 2014</p>
                </li>
            </ul>
        </div>

        <div class="section">
            <h2 class="section-title">Skills</h2>
            <ul class="skills-list">
                <li>JavaScript</li>
                <li>React</li>
                <li>Node.js</li>
                <li>Python</li>
                <li>Flask</li>
                <li>SQL</li>
                <li>Cloud Computing (AWS, Azure)</li>
            </ul>
        </div>

        <div class="section">
            <h2 class="section-title">Contact</h2>
            <p>Email: johndoe@example.com</p>
            <p>Phone: +123 456 7890</p>
            <p>Website: www.johndoe.com</p>
            <p>LinkedIn: linkedin.com/in/johndoe</p>
        </div>
    </div>
</body> -->
<!-- <body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" >
                <div class="card mt-5  shadow-sm p-3 mb-5 bg-light rounded" style="border: none;">
                    <div class="row">
                        <div class="col-md-3 ">
                            <img src="../static/download.png" alt="" style="border-radius: 50%;" class="img-fluid">
                            <div class="ml-5 mt-1">
                                <h2 class="text-uppercase">name</h2>
                                <h6>fresher</h6>
                               </div>
                            <h5 class="text-center mt-3 section-title">Contact</h5>
                            <ul style="list-style-type: none;">
                                <li><span><i class="fa-solid fa-phone"></i></span> &nbsp;phone no</li>
                                <li><span><i class="fa-solid fa-envelope"></i></span> &nbsp;gmail</li>
                                <li><span><i class="fa-solid fa-location-dot"></i></span> &nbsp;address</li>
                                <li><span><i class="fa-solid fa-globe"></i></span> &nbsp;linkedin </li>
    
                            </ul>
                         
                            <h5 class="text-center section-title ">Skill</h5>
                            <ul>
                                <li> sk1</li>
                                <li> sk1</li>
                                <li> sk1</li>
    
                                <li> sk1</li>
                            </ul>
                            <h5 class="text-center section-title">langauge</h5>
                            <ul>
                                <li> sk1</li>
                                <li> sk1</li>
                                <li> sk1</li>
    
                                <li> sk1</li>
                            </ul> 
    
                        </div>
                        <div class="col-md-9 mt-3">
                           
                           <!-- <hr width="100%" size="2"> -->
                           
                                <h5 class="section-title">About me</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur id minima, consectetur ex quae, possimus aliquid beatae quo iste quos ipsa nulla sit perferendis vel voluptate natus, eius cupiditate aut?</p>
                                <h5 class="section-title">Education</h5>
                                <h6>Course</h6>
                                <p>University/college</p>
                                <div class="d-flex">
                                    <p>passing year</p>
                                    <p class="ml-5">grade</p>
                                </div>
                                <h5 class="section-title">Personal Project</h5>
                                <p><b>Title</b></p>
                                <p>date</p>
                                <p>decription Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga laudantium animi quis aut, deserunt at id, nihil tempore doloremque fugiat odit ex sapiente porro obcaecati, repellat non enim.</p>
                                <h5 class="section-title">Course</h5>
                                <p>Course Name</p>
                                <p>year</p>
                           
                        </div>
                    </div>
                    <!-- <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div> -->
                <!-- </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
        
    </body>  -->
</html>









<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'style.css'%}">
	<script src="https://kit.fontawesome.com/733718af8a.js" crossorigin="anonymous"></script>
<style>
    .section-title{
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: #343a40;
        border-bottom: 2px solid #dee2e6;
        padding-bottom: 5px;
        color:rgb(121, 12, 79);
        text-transform: uppercase;
}
</style>
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" >
                <div class="card mt-5  shadow-sm p-3 mb-5 bg-light rounded" style="border: none;">
                    <div class="row">
                        <div class="col-md-3 ">
                            <img src="../static/download.png" alt="" style="border-radius: 50%;" class="img-fluid">
                            <div class=" mt-1">
                                <h5 class="text-uppercase">Pranav Daspute</h5>
                                <h6 class="text-center">fresher</h6>
                               </div>
                            <h5 class="text-center mt-3 section-title">Contact</h5>
                            <ul style="list-style-type: none;">
                                <li><span><i class="fa-solid fa-phone"></i></span> &nbsp;phone no</li>
                                <li><span><i class="fa-solid fa-envelope"></i></span> &nbsp;gmail</li>
                                <li><span><i class="fa-solid fa-location-dot"></i></span> &nbsp;address</li>
                                <li><span><i class="fa-solid fa-globe"></i></span> &nbsp;linkedin </li>
    
                            </ul>
                         
                            <h5 class="text-center section-title ">Skill</h5>
                            <ul>
                                <li> sk1</li>
                                <li> sk1</li>
                                <li> sk1</li>
    
                                <li> sk1</li>
                            </ul>
                            <h5 class="text-center section-title">langauge</h5>
                            <ul>
                                <li> sk1</li>
                                <li> sk1</li>
                                <li> sk1</li>
    
                                <li> sk1</li>
                            </ul> 
    
                        </div>
                        <div class="col-md-9 mt-3">
                           
                           
                           
                                <h5 class="section-title">About me</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur id minima, consectetur ex quae, possimus aliquid beatae quo iste quos ipsa nulla sit perferendis vel voluptate natus, eius cupiditate aut?</p>
                                <h5 class="section-title">Education</h5>
                                <h6>Course</h6>
                                <p>University/college</p>
                                <div class="d-flex">
                                    <p>passing year</p>
                                    <p class="ml-5">grade</p>
                                </div>
                                <h5 class="section-title">Personal Project</h5>
                                <p><b>Title</b></p>
                                <p>date</p>
                                <p>decription Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga laudantium animi quis aut, deserunt at id, nihil tempore doloremque fugiat odit ex sapiente porro obcaecati, repellat non enim.</p>
                                <h5 class="section-title">Course</h5>
                                <p>Course Name</p>
                                <p>year</p>
                           
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
        
</body>
</html>
